@import '../../../stylesheets/common';

.sidebar-section {
  border-left: 1px solid #eee;

  .sidebar-filter {
    margin: 25px;

    .filter-name {
      color: #bbb;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .range-filter {
      position: relative;

      .range {
        background: #eee;
        border: none;
        cursor: pointer;
        height: 5px;

        .ui-slider-handle {
          border: none;
          border-radius: 50px;
          background: @blue;
          cursor: pointer;
          height: 15px;
          width: 15px;
          outline: none;

          &:hover {
            background: @dark-blue;
          }
        }

        .ui-slider-range {
          background: @blue;
        }
      }

      .min,
      .max {
        color: #666;
        font-size: 14px;
        margin-top: 10px;
      }

      .min {
        float: left;
      }

      .max {
        float: right;
      }
    }

    .clearfix:before,
    .clearfix:after {
      content: "";
      display: table;
    }

    .clearfix:after {
      clear: both;
    }

    .clearfix {
      zoom: 1; /* ie 6/7 */
    }
  }

  .update-filters {
    margin: 25px;

    .update-filters-button {
      background: @green;
      border-bottom: 3px solid @dark-green;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      padding: 10px 20px;

      > i {
        font-size: 20px;
        vertical-align: middle;
        margin-left: 10px;
      }

      &.disabled {
        background: #ccc;
        border-bottom-width: 0px;
        color: #fff;
        cursor: default;
      }
    }
  }
}
