@import '../../../stylesheets/common';

.sidebar-section {
  border-left: 1px solid #eee;

  .sidebar-filter {
    margin: 25px;

    .filter-name {
      color: #999;
      font-size: 16px;
      margin-bottom: 20px;

      > i {
        color: #ccc;
        cursor: default;
        float: right;
        font-size: 18px;
        line-height: 23px;
        vertical-align: middle;

        &:hover {
          color: #999;
        }
      }
    }
  }

  .update-filters {
    margin: 25px;

    .update-filters-button {
      background: @green;
      border-bottom: 3px solid @dark-green;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      padding: 10px 20px;

      > i {
        font-size: 20px;
        vertical-align: middle;
        margin-left: 10px;
      }

      &.disabled {
        background: #ccc;
        border-bottom-width: 0px;
        color: #fff;
        cursor: default;
      }
    }
  }
}

.filter-name-tooltip {
  background: #111;
  border: none;
  box-shadow: none;
  border-radius: 5px !important;
  color: #fff;
  font-size: 12px;
  font-family: Avenir Next;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  width: 200px;
}
