@import '../../../stylesheets/common';

.list-header {
  .header-sort-button {
    text-align: left;
    width: 100px;
  }

  .wide-button {
    width: 150px;
  }

  .active {

  }

  .asc {

  }

  .desc {

  }
}
