.company {
  border-radius: 5px;
  color: #555;
  margin-top: 20px;
  padding: 20px 0;

  &:hover {
    background: #eee;
  }

  div {
    display: inline-block;
    width: 100px;
    padding: 0 10px;
  }

  .company-name {
    width: 130px;
  }
}
