@import '../../../stylesheets/common';

.value-filter {

  button {
    border-radius: 5px;
    border: 2px solid #ddd;
    color: #999;
    font-size: 14px;
    padding: 5px;
    margin: 0 5px 5px 0;

    &.selected {
      background: @blue;
      border-color: @blue;
      color: #fff;
    }
  }
}
